/*Gradient of pink and blue for website*/
body {
	background: linear-gradient(-45deg, #6a0dad, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

p {
	color: black;
	font-family: century-gothic;
}

h1 {
  color: black;
  margin-left: 20px;
}

/*CSS for button bar */
.btn-group button {
  background-color: White; 
  border: 1px solid black; 
  color: black; 
  padding: 10px 24px; 
  cursor: pointer; 
  float: left; 
}

.btn-group button:not(:last-child) {
  border-right: none; 
}


.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:hover {
  background-color: gray;
}

/*CSS for review stars */
.checked {
  color: orange;
}


